<!doctype html>
<html lang="en" xmlns:th="https://thymeleaf.org">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
    <h1>Sistema de Gestão de Frutas</h1>
    <h2>Nivel de Acesso</h2>
    <div class="form-control">
    <a href="cadastroNivelAcesso"class="btn btn-info">Novo Nível de Acesso</a>
    </div> 
    <table class="table table-striped">
    	<thead>
    		<tr>
    			<td>Código</td>
    			<td>Nome</td>
    			<td>Opções</td>
    		</tr>
    	</thead>
    	<tbody>
    		<tr th:each="for : ${listaNivelAcesso}">
    			<td th:text="${for.id}"></td>
    			<td th:text="${for.nome}"></td>
    			<td>
          			<a th:href="@{/editarNivelAcesso/{id}(id=${for.id})}"class="btn btn-info">Edit</a>
          			<a th:href="@{/deletarNivelAcesso/{id}(id=${for.id})}"class="btn btn-danger">Del</a>
          		</td>
    		</tr>
    	</tbody>
    </table>
    			
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>